.container {
    max-width: 500px;
    margin: 0 auto;
}
body {
    background-color: rgb(202, 155, 184);
    grid-template-columns: 20px;

/* Style for form fields */
.form-group {
    margin-bottom: 20px;
}
}
/* Style for form labels */
label {
    font-weight: bold;
}

/* Style for input fields */
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #e9b2e1;
}

/* Style for small text below the input fields */
.form-text {
    font-size: 14px;
}

/* Style for the submit button */
.btn-primary {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(175, 131, 158);
    color: #881e58;
    cursor: pointer;
}

/* Style for the submit button on hover */
.btn-primary:hover {
    background-color:  rgb(160, 126, 147);
}